<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class="container"> 
    <div class="row">
        <!--Product name dropdown-->
        <div class="col-sm-3">
        <mat-form-field appearance="legacy">
          <mat-label>Product name</mat-label>
          <mat-select placeholder={{dropdownValue}}> 
            <mat-option *ngFor="let productName of productNames" 
            [value]="productName" 
            (click)="dropdownValue=productName" 
            (click)="viewDetailsButton=false"
            (click)="runsIsDisabled=false"> 
                {{productName}}
          </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    <!--No of runs dropdown-->
      <div class="col-sm-3">
        <mat-form-field appearance="legacy">
            <mat-label>Number of runs</mat-label>
          <mat-select placeholder={{dropdownValue}} style="min-width:200px;" [disabled]="runsIsDisabled">
            <mat-option *ngFor="let num of [10, 20, 30, 40, 50,60,70,80,90,100]"
            [value]="num"
            (click)="noOfRuns=num"
             (click)="viewDetailsButton=false"
             (click)="isDisabled=false"
             (click)="selectedTestphase=''"
             >{{num}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </div>
  </div>
<br/>
    <h4><mat-label>Pick the testphase:</mat-label></h4>
    <!-- <mat-toolbar color="accent">
        <span>Pick the testphase</span> 
    </mat-toolbar> -->
    <br/>
    <mat-radio-group [(ngModel)]="selectedTestphase" (change)="submitProductName($event)" (change)="compareTestcaseUpdated=false" [disabled]="isDisabled">
        <!-- <mat-radio-button *ngFor="let testphase of testphase" 
        (click)="submitProductName(dropdownValue,noOfRuns,selectedTestphase)"
        (click)="selectedTestphase=testphase">{{testphase}}
       </mat-radio-button> -->
        <mat-radio-button [value]=testphase[0]>{{testphase[0]}}   
        </mat-radio-button>
        <mat-radio-button [value]=testphase[1]> {{testphase[1]}}
        </mat-radio-button>
    </mat-radio-group>
        <!-- <h4>Pick the testphase</h4>
        <section >
          <mat-radio-group [(ngModel)]="testphase" [disabled]="isDisabled">
            <mat-radio-button value="Smoke" (click)="submitProductName(dropdownValue,noOfRuns,'Smoke')">Smoke</mat-radio-button>
            <mat-radio-button value="Regression" (click)="submitProductName(dropdownValue,noOfRuns,'Regression')"> Regression</mat-radio-button>
            <mat-radio-button value="Both" (click)="submitProductName(dropdownValue,noOfRuns,'Both')">Both</mat-radio-button>
          </mat-radio-group>
        </section> -->
      <br />
      <br />
    <!-- <div *ngIf="disableCharts==false">
        <mat-button-toggle-group>        
                <button mat-raised-button [color]="!showBar ? 'primary' : 'accent'" (click)="showBarChart()"  >Bar chart</button>
                <button mat-raised-button [color]="!showPie ? 'primary' : 'accent'" (click)="showPieChart()"  >Pie chart</button>
        </mat-button-toggle-group>
    </div> -->
      <br />  
      <div class="chart" *ngIf="report">
          <mat-toolbar color="accent">
              <span>Bar Chart</span> 
          </mat-toolbar>
        
          <!--Bar chart-->
        <!-- <div class="{{showBar}}" *ngIf="chartDetailsUpdated"> -->
        <div *ngIf="chartDetailsUpdated"> 
          <canvas baseChart
                  [datasets]="chartDatasets"  
                  [colors]="colors"
                  [labels]="chartLabels" 
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="chartType1"></canvas>
        </div>
        <br />
        <br/>
        <!--Pie chart-->
        <!-- <div class="{{showPie}}" *ngIf="chartDetailsUpdated"> -->
        <div *ngIf="chartDetailsUpdated">
                <mat-toolbar color="accent">
                    <span>Pie Chart</span> 
                </mat-toolbar>
         <canvas baseChart
                  [data]="chartData"
                  [labels]="chartLabels"
                  [options]="pieChartOptions"
                  [chartType]="chartType2">
         </canvas>
        </div>
        <br/>
        <br/>

        <mat-toolbar color="accent">
            <span>Details</span> 
        </mat-toolbar>
        <br/>

        <!--show details button--->
        <button *ngIf="hideDetails"
         mat-raised-button [color]="showMainChart ? 'primary' : 'accent'" 
         (click)="showHistory(dropdownValue)" 
         (click)="compareTestcaseUpdated=false"
         (click)="hideDetails=false">View Details</button>
        <br/>
        <br/>
        <!-- hide details button  -->
        <button *ngIf="!hideDetails"
         mat-raised-button [color]="hideDetails ? 'primary' : 'accent'"  
         (click)="viewDetailsButton=false"
         (click)="hideDetails=true">Hide Details
        </button>
        <br/>
        <br/>
        <div *ngIf="viewDetailsButton">
          <button mat-raised-button [color]="showComparisionChart ? 'primary' : 'accent'" 
            *ngIf="showMainChart" 
            (click)="showTestcaseComparision(dropdownValue)">Show Testcase-wise Comparision
          </button>
          <br/>
          <br/>
          <div class="testcaseChart" *ngIf="showComparisionChart">
            <br />
            <br />
            <!--Testcase Comparision chart-->
            <div class="{{showChart}}" *ngIf="compareTestcaseUpdated">
              <canvas baseChart
                      [data]="testcaseChartData"
                      [labels]="testcaseChartLabels"
                      [options]="testcaseChartOptions"
                      [legend]='false'
                      [chartType]="chartType1">
              </canvas>
            </div>
          </div>
          <br/>
          <br/>
        </div>
        
        <!--Table showing the details of the last runs-->
        <table class="table table-hover table-sm header-fixed" *ngIf="showMainChart && !hideDetails" >
          <thead class="thead-dark">       
            <tr>
              <th scope="col">Testcase Number</th>
              <th scope="col">Run Number</th>
              <th scope="col">Run session ID</th>
              <th scope="col">Run Status</th>
              <th scope="col">Exception message</th>
            </tr>
          </thead>
          <tbody *ngFor="let details of testcaseDetails">
            <tr>
              <td>{{details.number}}</td>
              <td>{{details.runNumber}}</td>
              <td>{{details.runsessionid}}</td>
              <td>{{details.status}}</td>
              <td>{{details.exceptionmessage}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
